body{
    margin: 0;
}
header{
    margin: 5px;
    width: 100vw;
    height: 25vh;
    background-color: #beb8b8;
}
div{
    display: flex;
}
section{
    margin: 5px;
    width: 75vw;
    height: 65vh;
    background-color: #beb8b8;
}
article{
    margin: 5px;
    width: 35vw;
    height: 65vh;
    background-color: #beb8b8;
}