body{
    margin: 0;
}
header,footer{
    width: 100vw;
    height: 20vh;
    background-color: #9b3a3a;
}
article{
    display: none;
}
div{
    display: flex;
}
main{
    width: 60vw;
    height: 60vh;
    background-color: #3b3d96;
}
section{
    width: 40vw;
    height: 60vh;
    background-color: #a63e6d;
}
p::after{
    content:"desktop";
}
